<div id="MY-SLIDE-BAR">
	<div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-captions" data-slide-to="0" class=""></li>
			<li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
			<li data-target="#carousel-example-captions" data-slide-to="2" class="active"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item slide-content">
				<div class="content-left">
					<%=link_to @post[0], class:"img-wrapper" do%>
					<img class="img-box" src="<%=@post[0].get_image%>">
					<%end%>
				</div>
				<div class="content-right">
					<%=link_to @post[0], class:"my-title" do%>
					<h3><%= @post[0].title %></h3>
					<%end%>

					<div class="my-vote">
						<span class="star">
		                  <script>
		                  $('.star').raty({
		                    readOnly: true,
		                    score: <%= @post[0].average_rating %>,
		                    path: '/assets/'
		                  });
		                  </script>
		                </span>
						
						<span class="vote-span">Điểm đánh giá: <span class="vote-mark">(<%=@post[0].average_rating%>/5)	</span></span>
					</div>
					<p><%= truncate_html((@post[0].content.html_safe), length: 600, separator: ' ') %></p>
					
					<%=link_to '<button class="default-button" type="button" >Xem thêm</button>'.html_safe, @post[0] %>
				</div>
			</div>
			<div class="item slide-content">
				<div class="content-left">
					<%=link_to @post[1], class:"img-wrapper" do%>
					<img class="img-box" src="<%=@post[1].get_image%>">
					<%end%>
				</div>
				<div class="content-right">
					<%=link_to @post[1], class:"my-title" do%>
					<h3><%= @post[1].title %></h3>
					<%end%>				
					<div class="my-vote">
						<span class="star">
			                  <script>
				                  $('.star').raty({
				                    readOnly: true,
				                    score: <%= @post[1].average_rating %>,
				                    path: '/assets/'
				                  });
			                  </script>
		                </span>
						<span class="vote-span">Điểm đánh giá: <span class="vote-mark">(<%=@post[1].average_rating%>/5)</span></span>
					</div>
					<p><%= truncate_html(@post[1].content.html_safe, length: 600, separator: ' ') %></p>

					<%=link_to '<button class="default-button" type="button" >Xem thêm</button>'.html_safe, @post[1] %>
				</div>
			</div>
			<div class="item slide-content active">
				<div class="content-left">
					<%=link_to @post[2], class:"img-wrapper" do%>
					<img class="img-box" src="<%=@post[2].get_image%>">
					<%end%>
				</div>
				<div class="content-right">
					<%=link_to @post[2], class:"my-title" do%>
					<h3><%= @post[2].title %></h3>
					<%end%>				
					<div class="my-vote">
							<span id="star">
			                  <script>
			                  $('#star').raty({
			                    readOnly: true,
			                    score: <%= @post[2].average_rating %>,
			                    path: '/assets/'
			                  });
			                  </script>
			                </span>
						<span class="vote-span">Điểm đánh giá: <span class="vote-mark">(<%=@post[2].average_rating%>/5)</span></span>
					</div>
					<p><%= truncate_html(@post[2].content.html_safe, length: 600, separator: ' ') %></p>

					<%=link_to '<button class="default-button" type="button" >Xem thêm</button>'.html_safe, @post[2] %>
				</div>
			</div>
	</div>
<a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right"></span>
</a>
</div>
</div>
<!-- ket thuc slidebar -->

<!-- day la phan noi dung -->
<!-- <div class="wrapper"> -->
<div id="MY-CONTENT">
	<div class="my-window">
		<div class="my-header">
			<ul class="nav nav-tabs">
				<li class="active"><a  data-toggle="tab" href="#MIENBAC">Top Miền Bắc</a></li>
				<li><a data-toggle="tab" href="#MIENTRUNG">Top Miền Trung</a></li>
				<li><a data-toggle="tab" href="#MIENNAM">Top Miền Nam</a></li>
			</ul>
		</div>
		<div id="description" class="tab-content my-content">
			<div id="MIENBAC" class="tab-pane fade in active">
				<ul class="my-list-1">
					<% @admin_posts_mienbac.each do |admin_post_mb| %>      
					<li>
						<%= link_to (tagged_url(:tag => admin_post_mb.tags.first.name)) do%>
						<h5><%=admin_post_mb.tags.first.name%></h5>
						<%end%>
						
						<%=link_to admin_post_mb, class:"img-wrapper" do%>
						<img class="img-box" src="<%=admin_post_mb.get_image%>">
						<%end%>
						<%=link_to admin_post_mb, class:"img-wrapper" do%>
						<h5><%=admin_post_mb.title%></h5>
						<%end%>
						<a href="#"></a>
						<div class="misc"><span class="posted-time"><%=admin_post_mb.created_at%></span><span class="my-review">10 reviews</span><br><span>điểm đánh giá: <span class="vote-mark">(<%=admin_post_mb.average_rating%>/5)</span></span></div>
						<%= truncate_html(admin_post_mb.content.html_safe, length: 100, separator: ' ', class:"my-review") %>
						<%=link_to image_tag("see_more3.png"), admin_post_mb %>
					</p>
				</li>
				<%end%>
			</ul>
		</div>
		<div id="MIENTRUNG" class="tab-pane fade">
			<ul class="my-list-1">
				<% @admin_posts_mientrung.each do |admin_post_mt| %>      
				<li>
					<%= link_to (tagged_url(:tag => admin_post_mt.tags.first.name)) do%>
					<h5><%=admin_post_mt.tags.first.name%></h5>
					<%end%>

					<%=link_to admin_post_mt, class:"img-wrapper" do%>
					<img class="img-box" src="<%=admin_post_mt.get_image%>">
					<%end%>
					<%=link_to admin_post_mt, class:"img-wrapper" do%>
					<h5><%=admin_post_mt.title%></h5>
					<%end%>
					<a href="#"></a>
					<div class="misc"><span class="posted-time"><%=admin_post_mt.created_at%></span><span class="my-review">10 reviews</span><br><span>điểm đánh giá: <span class="vote-mark">(<%=admin_post_mt.average_rating%>/5)</span></span></div>
					<%= truncate_html(admin_post_mt.content.html_safe, length: 100, separator: ' ', class:"my-review") %>
					<%=link_to image_tag("see_more3.png"), admin_post_mt %>
				</p>
			</li>
			<%end%>
		</ul>
	</div>
	<div id="MIENNAM" class="tab-pane fade">
		<ul class="my-list-1">
			<% @admin_posts_miennam.each do |admin_post_mn| %>      
			<li>
				<%= link_to (tagged_url(:tag => admin_post_mn.tags.first.name)) do%>
				<h5><%=admin_post_mn.tags.first.name%></h5>
				<%end%>

				<%=link_to admin_post_mn, class:"img-wrapper" do%>
				<img class="img-box" src="<%=admin_post_mn.get_image%>">
				<%end%>
				<%=link_to admin_post_mn, class:"img-wrapper" do%>
				<h5><%=admin_post_mn.title%></h5>
				<%end%>
				<a href="#"></a>
				<div class="misc"><span class="posted-time"><%=admin_post_mn.created_at%></span><span class="my-review">10 reviews</span><br><span>điểm đánh giá: <span class="vote-mark">(<%=admin_post_mn.average_rating%>/5)</span></span></div>
				<%= truncate_html(admin_post_mn.content.html_safe, length: 100, separator: ' ', class:"my-review") %>
				<%=link_to image_tag("see_more3.png"), admin_post_mn %>
			</p>
		</li>
		<%end%>
	</ul>
</div>
</div>
</div>
<div class="left-content" style="width: 60%;">
	<div class="my-window">
		<div class="my-header">Các POST của thành viên mới đăng</div>
		<div class="my-content">
			<ul class="my-list-2">
				<% @user_posts.each do |user_post| %>      
				<li>
					<div class="my-cell col-1">
						<%=link_to user_post do%>
						<h5><%=user_post.title%></h5>
						<%end%>
						<div class="misc"><span class="posted-time"><%=user_post.created_at%></span><span >10 reviews</span><span>điểm đánh giá: <span class="vote-mark">(<%=user_post.average_rating%>/5)</span></span></div>


						<%= truncate_html(user_post.content.html_safe, length: 600, separator: ' ', class:"my-review") %>

						<%=link_to image_tag("see_more3.png"), user_post %>

					</div>
					<div class="my-cell col-2">
						<%=link_to user_post, class:"img-wrapper" do%>
						<img class="img-box" src="<%=user_post.get_image%>">
						<%end%>

					</div>
					<div class="my-tag">
						<% user_post.tags.any? %>
						<% user_post.tags.each do |tag| %>
						<%= link_to tag.name, tagged_url(:tag => tag.name), :class=>"label label-info" %>
						<% end %>
					</div>


				</li>
				<% end %>




			</ul>
		</div>
	</div>
</div>
<div class="right-content" style="width: 40%;">
	<div class="my-window">
		<div class="my-header">Google map</div>
		<div class="my-content">khong co gi</div>
	</div>
	<div class="my-window">
		<div class="my-header">Bạn muốn đặt phòng?</div>
		<div class="my-content">khong co gi</div>
	</div>
	<div id="TAG-CLOUD" class="my-window">
		<div class="my-header">Các Tag liên quan</div>
		<div class="my-content">
			<div id="tag_cloud" >
				<% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class| %>
				<%= link_to tag.name, tagged_url(:tag => tag.name), class: "label label-info" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
</div>
</div>
