<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b> Tiêu đề </b><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <b>Nội dung</b><br>
    <%= f.text_area :content, :class => "tinymce", :rows => 30, :cols => 70 %>
    <%= tinymce %>

  </div>
  <%= f.label :tags %>
<%= f.text_field :tag_list %>

  <div class="actions">
    <br>
    <%= f.submit "Đăng bài viết"%>
  </div>
<% end %>
