<div class="left-menu-fixed">
  <ul class="list-menu">
    <li><a href="#"><span class="glyphicon glyphicon-comment"></span>Comment</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-star"></span>Đánh giá</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-eye-open"></span>Follow</a></li>
  </ul>
</div>

<div id="MY-CONTENT">
  <div class="left-content" style="width: 70%;">
    <div id="POST-DETAIL" class="my-window">
      <div class="my-content">
        <div class="content-init">
                <h1><%= @post.title %></h1>
                <p>
                  <%=@post.content.html_safe%>
                </p>
                <%if @post.user == current_user%>
                <%= link_to 'Sửa bài viết', edit_post_path(@post) %> |
                <%= link_to 'Xóa bài viết', @post, method: :delete, data: { confirm: 'Bài viết đã xóa sẽ không thể phục hồi lại?' } %> | 
                <%end%>
        </div>
        <div id="POSTED-AUTHOR" class="content-init">
          <p class="wrap-ava-1"><a href="#"> <%= image_tag("ava_demo.png", :width=>"100%", :height=>"100%") %> </a></p>
          <div class="wrap-more-info">
            <p>
              <span class="glyphicon glyphicon-user"></span>Người đăng <a class="author" href="#"><%=@post.user.name%></a>
              <span class="glyphicon glyphicon-calendar"></span><%=@post.created_at%>
              | <span class="glyphicon glyphicon-comment"></span><%=@post.comments.count%> Comments 
              | <span class="glyphicon glyphicon-eye-open"></span>10 Reviews
            </p>
            <p>
              Tags:
                <% @post.tags.any? %>
                <% @post.tags.each do |tag| %>
                <%= link_to tag.name, tagged_url(:tag => tag.name), :class=>"label label-info" %>
                <% end %>
                <!-- <a href="#"><span class="label label-info">Nha Trang</span></a>
              <a href="#"><span class="label label-info">Vung Bien</span></a> -->
               | Điểm đánh giá: <span class="vote-mark">(<%=@post.average_rating%>/5) </span>
                <span id="star">
                  <script>
                  $('#star').raty({
                    readOnly: true,
                    score: <%= @post.average_rating %>,
                    path: '/assets/'
                  });
                  </script>
                </span>
              </p>
            </div>
        </div>
        <div id="CMT-AREA" class="content-init">
          <%if signed_in?%>
          <% @rating = Rating.where(post_id: @post.id, user_id: current_user.id).first %>
          <%unless @rating%> 
          <%@rating = Rating.create(post_id: @post.id, user_id: current_user.id, score: 0) %>
          <%end%>
              <p>Đánh giá của bạn</p>
              <span id="user_star">
                    <script>
                    $('#user_star').raty({
                      score: <%= @rating.score %>,
                      path: '/assets/',
                      click: function(score, evt) {
                        $.ajax({
                          url: '/ratings/' + <%= @rating.id %>,
                          type: 'PATCH',
                          data: { score: score }
                        });
                      }
                    });
                    </script>
              </span>
          <%end%>

          <ul class="cmt-list">
            <li class="cmt-left">
              <%= render :partial => @post.comments %>
            </li>
            <%if signed_in? %>
            
               <li class="cmt-left">
                  <p class="wrap-ava-1">
                    <a class="wrap-img" href="#"><%= image_tag("ava_demo.png", :width=>"100%", :height=>"100%") %></a>
                  </p>
                  <div id="new-cmt-wrap" class="left-bubble">
                    <p><a class="author" href="#"><%= current_user.name %></a></p>
                    <p class="cmt-content">
                      <%= form_for [@post, Comment.new] do |f| %>
                        <!-- <textarea class="form-control" id="NEW-COMMENT" rows="3" placeholder="Type in your message"></textarea> -->
                        <%= f.text_area :body,:class=>"form-control", :id=>"NEW-COMMENT", :rows=>"3", :placeholder=>"nhập bình luận của bạn" %>
                        <h6 class="pull-right">tối đa 320</h6>

                              <%= f.submit 'Bình luận' %>
                              
                      <%end%>
                    </p>
                  </div>
                </li>
              <%else %>
              <%="<i>Bạn cần đăng nhập để nhận xét về bài viết này</i>".html_safe%>
              <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="right-content" style="width: 30%;">
    <div class="my-window">
      <div class="my-header">Google map</div>
      <div class="my-content">khong co gi</div>
    </div>
    <div class="my-window">
      <div class="my-header">Bạn muốn đặt phòng?</div>
      <div class="my-content">khong co gi</div>
    </div>
    <div id="TAG-CLOUD" class="my-window">
      <div class="my-header">Các Tag liên quan</div>
      <div class="my-content">
        <div class="col-1">
          <ul class="my-tag">
            <li><a href="#">Hà Nội</a><span>x 123</span></li>
            <li><a href="#">Hà Nội</a><span>x 123</span></li>
            <li><a href="#">Hà Nội</a><span>x 123</span></li>
            <li><a href="#">Hà Nội</a><span>x 123</span></li>
            <li><a href="#">Hà Nội</a><span>x 123</span></li>
          </ul>
        </div>
        <div class="col-2">
          <ul class="my-tag">
            <li><a href="#">Hà Nội</a><span>x 123</span></li>
            <li><a href="#">Hà Nội</a><span>x 123</span></li>
            <li><a href="#">Hà Nội</a><span>x 123</span></li>
            <li><a href="#">Hà Nội</a><span>x 123</span></li>
            <li><a href="#">Hà Nội</a><span>x 123</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

