<div class="a_post">
<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>

<p>
  <%= @post.content.html_safe	 %>
</p>
<%if @post.user == current_user%>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%end%>
<%= link_to 'Back', posts_path %>
 <h2>Comments</h2>
 <div id="comments">
         <%= render :partial => @post.comments %>
 </div> 
<%if signed_in? %>
<%= form_for [@post, Comment.new] do |f| %>
        <p>
                <%= f.label :body, "New comment" %><br/>
                <%= f.text_area :body %>
        </p>

        <p><%= f.submit "Add comment" %></p>
<%end%>
<% end %>

 <script>

  $(document).ready(function() {
    createStoryJS({
      type: 'timeline',
      width: '400',
      height: '500',
      source: '/a.json'	, //get the events.json format from https://github.com/VeriteCo/TimelineJS#file-formats
      embed_id: 'my-timeline'
    });
  });
        </script>
<div id="timeline-embed"></div>
</div>