<%= form_for(@journey) do |f| %>
  <% if @journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

      <ul>
      <% @journey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
     Tên hành trình<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <b>Mô tả</b><br>
    <%= f.text_area :description, :class => "tinymce", :rows => 30, :cols => 70 %>
    <%= tinymce %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
