<h1>Listing journeys</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @journeys.each do |journey| %>
      <tr>
        <td><%= journey.user %></td>
        <td><%= journey.name %></td>
        <td><%= journey.description.html_safe %></td>
        <td><%= link_to 'Show', journey %></td>
        <%if journey.user == current_user || current_user.users_type == 0 || current_user.users_type == 1%>
        <td><%= link_to 'Edit', edit_journey_path(journey) %></td>
        <td><%= link_to 'Destroy', journey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if signed_in?%>
<%= link_to 'New Journey', new_journey_path %>
<%end%>