<p>
	<strong>Name:</strong>
	<%= @journey.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @journey.description %>
</p>

<script>
$(document).ready(function() {
	createStoryJS({
		type:       'timeline',
		width:      '1200',
		height:     '500',
		source:     '<%= @journey_events %>',
		embed_id:   'my-timeline'
	});
});
</script>
<%if @journey_events.count != 0%>
<div id="my-timeline"></div>
<%else%>
Chua co event, bam vao nut tao event de tao moi event.<br>
<%end%>
<%if signed_in?%>
<h2>lists event</h2>
<div id="journey_events">
	<%= render :partial => @journey.journeyEvents %>
</div>
 <%if signed_in? && @journey.user == current_user %>
<h2>new event</h2>
 <%= form_for [@journey, JourneyEvent.new] do |f| %>
 <p>
 	  <div class="field">
    <%= f.label :headline %><br>
    <%= f.text_field :headline %>
  </div>

  <div class="field">
    <%= f.label :startdate %><br>
    <%= f.datetime_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br>
    <%= f.datetime_select :enddate %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :media %><br>
    <%= f.text_field :media %>
  </div>
  <div class="field">
    <%= f.label :mediacaption %><br>
    <%= f.text_field :mediacaption %>
  </div>
  <div class="field">
    <%= f.label :mediacredit %><br>
    <%= f.text_field :mediacredit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</p>


<%end%>
<%end%>
<%= link_to 'Edit', edit_journey_path(@journey) %> |
<%end%>
<%= link_to 'Back', journeys_path %>
