<% user = current_user%>

<div id="MY-CONTENT">
	<div class="wrap-content">
		<div class="left-content" style="width: 40%;">
			<div id="MEISHI" class="my-window">
				<div class="my-content">
					<%=link_to edit_user_registration_path do%>
					<span class="glyphicon glyphicon-cog"></span>
					<%end%>

					<div>
						<span class="glyphicon glyphicon-user my-ava">
							<input type="file" name="files[]" multiple="">
						</span>
						<h3><%=user.name%></h3>
					</div>
					<div>
						<ul class="info-list">
							<li><span class="glyphicon glyphicon-info-sign"></span><span>Tên hiển thị:</span><%=user.name%></li>
							<li><span class="glyphicon glyphicon-info-sign"></span><span>Ngày sinh:</span><%=user.dob%></li>
							<li><span class="glyphicon glyphicon-info-sign"></span><span>Giới tính:</span>
								<%if user.sex == 1%>
								Nam
								<%else%>
								Nữ
								<%end%>
							</li>
							<li><span class="glyphicon glyphicon-phone"></span>01649622332</li>
							<li class="about-me"><span class="glyphicon glyphicon-envelope"></span><%=user.email%></li>
							<hr>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="right-content" style="width: 60%;">
			<div class="my-window">
				<div class="my-content">
					
				</div>
			</div>
		</div>
	</div>
	<div class="left-content" style="width: 60%;">
		<div class="my-window">
			<div class="my-header">Bài đăng</div>
			<div class="my-content">

				<ul class="my-list-2">
					<% @posts.each do |post| %>     
					<li>
						<div class="my-cell col-1">
							<%=link_to post do%>
							<h5><%=post.title%></h5>
							<%end%>
							<div class="misc"><span class="posted-time"><%=post.created_at%></span><span >10 reviews</span><span>điểm đánh giá: <span class="vote-mark">(<%=post.average_rating%>/5)</span></span></div>


							<p><%= truncate_html((post.content.html_safe), length: 600, separator: ' ') %>
								<%=link_to image_tag("see_more3.png"), @post %>
							</p>
							<p>
								<%= link_to 'Show', post %> 
								<% if post.user == current_user %>
								<%= link_to 'Edit', edit_post_path(post) %>
								<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
								<% end %>
							</p>

						</div>
						<div class="my-cell col-2">
							<%=link_to post, class:"img-wrapper" do%>
							<img class="img-box" src="<%=post.get_image%>">
							<%end%>

						</div>
						<div class="my-tag">
							<% post.tags.any? %>
							<% post.tags.each do |tag| %>
							<%= link_to tag.name, tagged_url(:tag => tag.name), :class=>"label label-info" %>
							<% end %>
						</div>


					</li>
					<% end %>
					
				</ul>
				
			</div>
		</div> 
	</div>
	<div class="right-content" style="width: 40%;">

		<div class="my-window">
			<div class="my-header">Các hành trình của bạn</div>
			<div class="my-content">
				<ul class="follow-list">
					<%user.journeys.each do |journey|%>
					<li>
						<div class="wrap-icon">
							<%=link_to new_journey_path do%>
							<span class="glyphicon glyphicon-pencil"></span>
							<%end%>
							<%=link_to journey do%>
							<span class="glyphicon glyphicon-eye-open"></span>
							<%end%>
							<%= link_to journey, method: :delete, data: { confirm: 'Are you sure?' } , :role => 'button' do%>
							<span class=" glyphicon glyphicon-trash"></span>
							<%end%>
						</div>
						<div class="my-list-2">
							<%=link_to journey  do%>
							<h5><%=journey.name%></h5>
							<%end%>
						</div>
						<%= truncate_html((journey.description.html_safe), length: 100, separator: ' ') %>
						<%=link_to "xem thêm", journey %>
					</li>
					<%end%>
				</ul>
<!-- 				<a href="#">Xem tất cả</a>
-->			</div>		
</div>
<div id="POST-FOLLOW" class="my-window">
	<div class="my-header">Các hành trình đang theo dõi</div>
	<div class="my-content">
		<ul class="follow-list">
<!-- 					<li>
						<div class="wrap-icon">
							<a href="#"><span class="glyphicon glyphicon-eye-close"></span></a>
						</div>
						<h5>Chuyến đi Nha Trang</h5>
						<p>Nha Trang là một thành phố ven biển và là trung tâm chính trị, kinh tế, văn hóa, khoa học kỹ thuật và du lịch của tỉnh Khánh Hòa, Việt Nam. Trước khi trở thành phần đất của Việt Nam, Nha Trang thuộc về Chiêm Thành...
							<a href="#">xem thêm</a>
						</p>
					</li> 
				</ul>
				<a href="#">Xem tất cả</a> -->	
			</div>
		</div>
	</div>

